body {
    background-image: url('../images/stars.jpg');
}

.col {
    display: flex;
    justify-content: center;
}

.row {
    display: ruby-text-container;
    justify-content: center;
    width: 960px;
    height: 400px;
    display: column;
    margin: 200px;

}

#question {
    display: flex;
    justify-content: center;
    vertical-align: center;
    font-size: 50px;
    font-family: Orbitron;
    color: green;
    line-height: 100px;
}

button {
    line-height: 100px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    background-color:silver;
    border-color: black;
    margin-left:300px;
}

button:hover {
    background-color: green;
    font-family: Orbitron;
    color:black;
}

.button {
    margin-left:450px;
}

h2, h3 {
    display: flex;
    justify-content: center;
    vertical-align: center;
    font-size: 1.5em;
    font-family: Orbitron;
    color: green;
    line-height: 100px;
}

#timer, .correct, .incorrect, .unanswered, .result {
    color: green;
    font-family: Orbitron;
    font-size: 1em;
}

